
<header>
	<h1><%= @workout.name %></h1>
</header>	

<%= @last_updated_at %>

<% @workout.exercises.each_with_index do |exercise, indexNum| %>

  <div class="accordion" id="<%= indexNum.to_s + 'B'%>">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#<%= indexNum.to_s + 'B'%>" href="#<%= indexNum.to_s + 'A'%>">
          <%= exercise.name %>
        </a>
      </div>
       <div id="<%= indexNum.to_s + 'A'%>" class="accordion-body collapse in">
        <div class="accordion-inner">
          <div class="accordion" id="accordion3">

			      <% exercise.grouped_exercise_sets.each do |day, sets| %>
	            <div class="accordion-group">
	              <div class="accordion-heading">
	                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse3">
	                  <%= day %>
	                </a>
	              </div>
	              <div id="collapse3" class="accordion-body collapse in">
		              <% sets.each do |set| %>
	                  <div class="accordion-inner">
	                    <%= "Weight: " + set.weight.to_s + " , Reps: " + set.reps.to_s %>
	                    <%= link_to 'Destroy', [exercise, set], method: :delete, data: { confirm: 'Are you sure?' } %>
	                  </div>
		             	<% end %>
	              </div>
	            </div>
	          <% end %>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse4">
                  Add a new set
                </a>
              </div>
              <div id="collapse4" class="accordion-body collapse">
                <div class="accordion-inner">
                  <%= form_for [exercise, exercise.exercise_sets.build] do |f| %>

                    <div class="weight">
                      <%= f.label :weight %><br />
                      <%= f.text_field :weight %>
                    </div>

                    <div class="reps">
                      <%= f.label :reps %><br />
                      <%= f.text_field :reps %>
                    </div>

                    <div class="actions">
                      <%= f.submit %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "Add exercise to this day", new_workout_exercise_path(@workout.id), {:class => "new-exercise"} %>

<%= link_to 'Home', workouts_path %>